# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
#RewriteBase /
<IfModule mod_headers.c>    
Header add Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept"
</IfModule>